.button-medium {
  padding: .225rem 1rem .2rem;
  line-height: 1.175rem;
  border: 1px solid transparent;
  border-radius: var(--buttonBorderRadius, 14px);
}

.button-large {
  padding: .4rem 2rem;
  text-transform: uppercase;
  font-size: .6875rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: .15em;
  border: 1px solid var(--accentColor, #f02f23);
  border-radius: var(--buttonLargeBorderRadius, 18px);
}

.button-accent {
  color: var(--accentReverseColor, #fff);
  background-color: var(--accentColor, #f02f23);
}

.button-accent:hover,
.button-accent:focus {
  color: var(--accentColor, #f02f23);
  background-color: var(--accentReverseColor, #fff);
  border-color: var(--accentColor, #f02f23);
}

.button-accent-reverse {
  color: var(--accentColor, #f02f23);
  background-color: var(--accentReverseColor, #fff);
}

.button-accent-reverse:hover,
.button-accent-reverse:focus {
  color: var(--accentReverseColor, #fff);
  background-color: var(--accentColor, #f02f23);
}

.button-text:hover,
.button-text:focus {
  color: var(--accentColor, #f02f23);
}
