.header {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: var(--divider);
}

@media (min-width: 981px) {
  .header {
    position: relative;
    justify-content: center;
    padding-right: 40px;
    padding-left: 40px;
  }

  .buttonMenu {
    display: none;
  }

  .actions {
    position: absolute;
    right: 32px;
  }
}

@media (max-width: 980px) {
  .header {
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
  }

  .buttonMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 28px;
    min-height: 28px;
  }
}

.actionsList {
  display: flex;
  align-items: center;
}

@media (min-width: 981px) {
  .actionsListItem + .actionsListItem {
    margin-left: 20px;
  }
}

@media (max-width: 980px) {
  .actionsListItem:not(.actionsListItemSearch) {
    display: none;
  }
}

.buttonSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 28px;
  min-height: 28px;
}
